@import "variables";
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);

a {
  text-decoration: none;
  color: white;

  &:hover{
    text-decoration: underline;
  }

  &.boton {
    display: inline-block;
    padding:5px 15px;
    background: $cPrincipal;
    
    span{
    //  background: red;
      border-bottom:1px dotted $cPrincipal;
    }

    &:visited{
      span{
       border-bottom:1px dotted white;
      }
    }
    &:hover{
      text-decoration: none;
      span{
        border-bottom:1px solid white;
      }
    }

  }
}

h1 {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  background: $cSecundario;
  display: inline-block;
  padding:10px;
}

h2 {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  color: $cPrincipal;
}

p {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 300;

}