@import "variables";

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}


body {
  background: #dddddd;
  @include breakpoint(xs) {
    background-color: aliceblue;
  }

  section {
    width:98%;
    margin: 0 auto;
    background: sandybrown;
    padding: 15px;
    @include breakpoint(lg) {
      width: 80%;
      background: salmon;
    }
    @include breakpoint(md) {
      width: 90%;
      background: salmon;
    }
    @include breakpoint(xs){
      width: 95%;
      background-color: tomato;
    }
  }
}